<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css"rel="stylesheet">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <style type="text/css">
        body {
            padding-top: 100px;
        }

        .form-container {
            width: 400px;
            margin: auto;
        }

        .credits {
            border-top: 1px solid #ddd;
            margin-top: 40px;
            padding-top: 20px;
        }
    </style>
</head>
<body>